.img:hover {    
    -fx-border-color: gray;
    -fx-border-width: 5px;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
   
}

.img_persona {
    -fx-alignment: center;
    -fx-border-radius: 24px;
    -fx-border-color: gray;
    -fx-border-width: 3px;
    -fx-text-box-border: transparent;    
    -fx-background-radius: 24px;   
}

.textfields {
    -fx-border-width: 3px;
    -fx-border-radius: 24px;
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-background-radius: 24px;   
}

.btnAceptar, .btnCancelar {
    -fx-alignment: center;
    -fx-border-radius: 24px;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-text-box-border: transparent;    
    -fx-background-radius: 24px;   
}

.btnAceptar:hover {
    -fx-border-color: blue;
}

.btnCancelar:hover {
    -fx-border-color: red;
}

.vboxDays:hover {
    -fx-background-radius: 50px;
    -fx-background-color: gray;
}

.vboxDays {
    -fx-border-radius: 50px;
    -fx-border-color: gray;
    -fx-border-width: 3px;
    -fx-background-radius: 24px; 
}

.comboBoxConsulta {
    -fx-border-radius: 50px;
    -fx-border-color: gray;
    -fx-border-width: 3px;
    -fx-background-radius: 24px;
    -fx-background-color: transparent;
}
.main{
    -fx-background-color: #FFF5EE;
}
.lista{
    -fx-border-color: black;
    -fx-border-style: bold;
    -fx-border-width: 4px;
}

